/*FIX VIEWPORT*/
@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }

/* SCROLLBARS */
::-webkit-scrollbar {
  width: 5px;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in; }

::-webkit-scrollbar-track {
  background: #ffffff;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in; }

.scrollable-content::-webkit-scrollbar * {
  background: #ffffff; }

::-webkit-scrollbar-thumb {
  background: gray;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in; }

/* CUSTOM RESETS AND OTHER PROPERITIES */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button, input, select, textarea, label, option, figure, ul, li, p, h1, h2, h3, h4, h5, h6, span, a {
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: inherit;
  text-decoration: none;
  text-shadow: none;
  text-indent: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  list-style-type: none; }
  button:hover, button:active, button:visited, button:focus, input:hover, input:active, input:visited, input:focus, select:hover, select:active, select:visited, select:focus, textarea:hover, textarea:active, textarea:visited, textarea:focus, label:hover, label:active, label:visited, label:focus, option:hover, option:active, option:visited, option:focus, figure:hover, figure:active, figure:visited, figure:focus, ul:hover, ul:active, ul:visited, ul:focus, li:hover, li:active, li:visited, li:focus, p:hover, p:active, p:visited, p:focus, h1:hover, h1:active, h1:visited, h1:focus, h2:hover, h2:active, h2:visited, h2:focus, h3:hover, h3:active, h3:visited, h3:focus, h4:hover, h4:active, h4:visited, h4:focus, h5:hover, h5:active, h5:visited, h5:focus, h6:hover, h6:active, h6:visited, h6:focus, span:hover, span:active, span:visited, span:focus, a:hover, a:active, a:visited, a:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-box: none; }

.ease {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease; }

.ease-in {
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
  transition: all 3s ease-in; }

.ease-out {
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out; }

.ease-in-out {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.linear {
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear; }

.cubic-bezier {
  -webkit-transition: all 3s cubic-bezier(1, -0.5, 0.5, 1);
  -moz-transition: all 3s cubic-bezier(1, -0.5, 0.5, 1);
  -o-transition: all 3s cubic-bezier(1, -0.5, 0.5, 1);
  transition: all 3s cubic-bezier(1, -0.5, 0.5, 1); }

.main-navbar {
  background-color: #000000;
  height: 120px;
  width: 100%;
  position: relative;
  z-index: 1; }
  .main-navbar .logo-navbar {
    padding-top: 20px;
    width: 15%;
    margin-left: 42.5%; }
  .main-navbar .links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'font-1', Arial, sans-serif;
    font-weight: 500, bold;
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    right: 40px;
    bottom: 20px;
    align-items: flex-end;
    text-align: right; }
    .main-navbar .links a {
      margin-bottom: 5px; }
    .main-navbar .links h2 {
      font-size: 14px; }

section.main-wrapper {
  position: relative;
  z-index: 0;
  height: calc(100vh - 170px);
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("../img/tree.svg");
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between; }
  section.main-wrapper figure.figura-index {
    height: 100%;
    width: 30%;
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative; }
    section.main-wrapper figure.figura-index .image-container {
      position: absolute;
      cursor: pointer;
      width: 250px;
      height: 250px;
      display: inline-block;
      bottom: 0px;
      left: 0px; }
      section.main-wrapper figure.figura-index .image-container a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%; }
      section.main-wrapper figure.figura-index .image-container img {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%; }
      section.main-wrapper figure.figura-index .image-container span {
        display: inline-block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: black;
        color: white;
        max-width: 250px;
        padding: 3px 6px 3px 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: 'font-1';
        text-align: right;
        text-transform: capitalize;
        font-size: 11px; }
  section.main-wrapper article.welcome-text {
    color: #000000;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 120px; }
    section.main-wrapper article.welcome-text div {
      position: absolute;
      top: -120px;
      height: 100vh;
      display: block;
      margin: 0px 20px 20px 20px;
      padding: 130px 20px 40px 20px;
      background: rgba(0, 0, 0, 0.025); }
      section.main-wrapper article.welcome-text div h1 {
        font-family: 'font-2', Arial Black, sans-serif;
        font-weight: 600, bolder;
        font-size: 24px;
        display: block;
        text-align: center;
        text-transform: uppercase; }
      section.main-wrapper article.welcome-text div p.description {
        margin-top: 20px;
        font-family: 'font-1', Arial, sans-serif;
        font-weight: 500, bold;
        font-size: 13px;
        text-align: justify; }
        section.main-wrapper article.welcome-text div p.description span {
          font-family: 'font-1-italic', Arial, sans-serif;
          font-weight: 500, bold;
          font-style: italic;
          font-size: 12px;
          margin-top: 10px;
          display: block;
          color: rgba(0, 0, 0, 0.5); }
  section.main-wrapper article.showcase {
    width: 30%;
    margin-left: 0%;
    height: 100%;
    background-image: url("../img/display-2_.png");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 10% 60%;
    overflow: hidden; }
    section.main-wrapper article.showcase h2 {
      position: relative;
      margin-top: 20px;
      margin-right: 40px;
      margin-bottom: 20px;
      font-family: 'font-2', Arial Black, sans-serif;
      font-weight: 600, bolder;
      color: #000000;
      font-size: 18px;
      text-align: right;
      text-transform: uppercase; }
    section.main-wrapper article.showcase .showcase-articles {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: flex-end;
      padding-right: 40px;
      padding-left: 25%; }
      section.main-wrapper article.showcase .showcase-articles:hover {
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px; }
        section.main-wrapper article.showcase .showcase-articles:hover > p.showcase-text {
          display: block; }
        section.main-wrapper article.showcase .showcase-articles:hover .wrapper-colors {
          border-bottom: 0px; }
      section.main-wrapper article.showcase .showcase-articles h3 {
        font-family: 'font-2', Arial Black, sans-serif;
        font-weight: 600, bolder;
        color: #000000;
        font-size: 10px;
        text-align: right;
        margin-top: 10px; }
        section.main-wrapper article.showcase .showcase-articles h3 span {
          color: rgba(0, 0, 0, 0.5);
          display: none;
          font-size: 8px;
          margin-top: 5px;
          letter-spacing: 1px; }
      section.main-wrapper article.showcase .showcase-articles p.showcase-text {
        display: none;
        font-family: 'font-1', Arial, sans-serif;
        font-weight: 500, bold;
        font-size: 9px;
        color: #000000;
        margin-top: 10px;
        text-align: justify;
        padding-bottom: 10px; }
        section.main-wrapper article.showcase .showcase-articles p.showcase-text span {
          display: block;
          margin-top: 5px;
          font-family: 'font-1-italic', Arial, sans-serif;
          font-weight: 500, bold;
          font-style: italic;
          color: rgba(0, 0, 0, 0.5); }
      section.main-wrapper article.showcase .showcase-articles .wrapper-colors {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
        section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color {
          margin-top: 10px;
          margin-right: 10px;
          position: relative; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color:last-of-type {
            margin-right: 0px; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color:hover h4 {
            color: #ffffff;
            font-family: 'font-1', Arial, sans-serif;
            font-weight: 500, bold;
            font-size: 8px;
            background-color: #000000;
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            min-height: 15px;
            width: auto;
            padding: 0px 8px 0px 4px;
            z-index: 2;
            border-radius: 2px;
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translate(-50%, -50%); }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color:hover .wrapper {
            display: flex;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: absolute;
            top: 0px;
            right: -3px;
            height: 100%; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color:hover .arrow {
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid #000000; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color:hover figure {
            border: 2px solid #000000; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color h4 {
            display: none; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color .arrow {
            display: none; }
          section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color figure {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            overflow: hidden;
            border: 2px solid #e6e5e5;
            cursor: pointer;
            transition: all 0.25s ease-in;
            -webkit-transition: all 0.25s ease-in;
            -moz-transition: all 0.25s ease-in; }
            section.main-wrapper article.showcase .showcase-articles .wrapper-colors li.showcase-color figure img {
              width: 100%;
              height: auto; }

.showcase-6 .wrapper-colors {
  border-bottom: 0px !important; }

footer.main-footer {
  background-color: #000000;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between; }
  footer.main-footer .logo-footer {
    visibility: hidden;
    margin-left: 40px; }
    footer.main-footer .logo-footer img {
      width: 50px;
      height: auto; }
  footer.main-footer .social-links {
    margin-right: 40px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: flex-end; }
    footer.main-footer .social-links span {
      font-family: 'font-1', Arial, sans-serif;
      font-weight: 500, bold;
      color: #ffffff;
      font-size: 12px;
      margin-right: 20px;
      text-align: right;
      display: inline-block; }
    footer.main-footer .social-links a {
      width: 30px;
      height: 50px;
      margin-right: 10px;
      text-align: right;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
      footer.main-footer .social-links a:last-of-type {
        margin-right: 0px; }
      footer.main-footer .social-links a img {
        width: 30px;
        height: auto;
        text-align: right; }
